body, * {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
}

nav {
    padding-right: 20px;
}

nav li {
    margin-right: 20px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* ============================================
footer
=========================================*/
#footer {
    background-color: rgb(181, 181, 181);
}